{% extends "base.html" %}

{% block content %}
<h1>Add note</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.note.label }}<br>
        {{ form.note(class="form-control") }}<br>
        {% for error in form.note.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>

    <p>
        {{ form.note_time.label }}<br>
        {{ form.note_time(type="time", class="form-control") }}<br>
        {% for error in form.note_time.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>

    <p>
        {{ form.description.label }}<br>
        {{ form.description(class="form-control") }}<br>
        {% for error in form.description.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>

    <p>
        {{ form.email_send.label }}<br>
        {{ form.email_send(class="form-control", type="email") }}<br>
        {% for error in form.email_send.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>

    <p>{{ form.is_finished() }} {{ form.is_finished.label }}</p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}